[user]
  name = Mitya Teryaew
  email = mitya.teryaew@gmail.com
[github]
  user = teryaew
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[credential]
  helper = osxkeychain
[help]
  autocorrect = 1
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[pull]
  rebase = true
[push]
  default = simple
[color]
  ui = true
[diff]
  # Use the OS X graphical three-way merge tool for graphical diffs.
  tool = opendiff
  # Use the slower but better patience diff algorithm.
  algorithm = patience
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[gc]
  auto = 0
