[user]
  name = Mitya Teryaew
  email = mitya.teryaew@gmail.com
[github]
  user = webpro
[credential]
  helper = osxkeychain
[help]
  autocorrect = 1
[core]
  editor = vim
[push]
  default = simple
[color]
  # Colour terminal command output when possible.
  ui = auto
[diff]
  # Use the OS X graphical three-way merge tool for graphical diffs.
  tool = opendiff
  # Use the slower but better patience diff algorithm.
  algorithm = patience
[gc]
  auto = 0
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true